<Swipeable
  @swipeLeft={{if this.deleted this.markAllLater this.ignoreAll}}
  @swipeRight={{if this.later this.ignoreAll this.markAllLater}}
  @iconLeft={{if this.deleted "bookmark" "trash"}}
  @iconRight={{if this.later "trash" "bookmark"}}
>
  <div local-class="bar">
    <img src={{@channel.thumbnail}} alt={{@channel.title}}>
    <div local-class="detail">
      <p class="title"><a rel="external noopener noreferrer" target="_blank" href={{@channel.url}}>{{@channel.title}}</a></p>
      <VideosTotals @videos={{this.videos}} />
      <p>
        {{#if this.new}}
          <button type="button" {{on "click" this.markAllLater}}>
            <SvgIcon @name="bookmark" @size={{16}} />
            Watch All Later
          </button>
          &middot;
          <button type="button" {{on "click" this.ignoreAll}}>
            <SvgIcon @name="trash" @size={{16}} />
            Ignore All
          </button>
        {{else if this.later}}
          <button type="button" {{on "click" this.ignoreAll}}>
            <SvgIcon @name="trash" @size={{16}} />
            Watched All
          </button>
        {{else}}
          <button type="button" {{on "click" this.markAllLater}}>
            <SvgIcon @name="bookmark" @size={{16}} />
            Restore All
          </button>
        {{/if}}
        &middot;
        {{#if @channel.isSubscribed}}
          <button type="button" {{on "click" @channel.unsubscribe}}>
            <SvgIcon @name="bell-off" @size={{16}} />
            Unsubscribe
          </button>
        {{else}}
          <button type="button" {{on "click" @channel.subscribe}}>
            <SvgIcon @name="bell" @size={{16}} />
            Subscribe
          </button>
        {{/if}}
      </p>
    </div>
  </div>
  <Videos @videos={{this.videos}} />
</Swipeable>
