<Swipeable @swipeLeft={{this.ignoreAll}} @swipeRight={{if this.new this.markAllLater this.ignoreAll}} @iconLeft="trash" @iconRight={{if this.new "bookmark" "trash"}}>
  <div local-class="bar">
    <img src={{@subscription.channel.thumbnail}} alt={{@subscription.channel.title}}>
    <div local-class="detail">
      <p class="title"><a rel="external noopener noreferrer" target="_blank" href="https://www.youtube.com/channel/{{@subscription.channel.apiId}}">{{@subscription.channel.title}}</a></p>
      <ItemsTotals @items={{this.items}} />
      <p>
        {{#if (eq @state "new")}}
          <button type="button" {{on "click" this.markAllLater}}>
            <SvgIcon @name="bookmark" @size={{16}} />
            Watch All Later
          </button>
          &middot;
          <button type="button" {{on "click" this.ignoreAll}}>
            <SvgIcon @name="trash" @size={{16}} />
            Ignore All
          </button>
        {{else}}
          <button type="button" {{on "click" this.ignoreAll}}>
            <SvgIcon @name="trash" @size={{16}} />
            Watched All
          </button>
        {{/if}}
      </p>
    </div>
  </div>
  <Items @items={{this.items}} />
</Swipeable>
