{{#if this.player.video}}
  <div local-class="player {{if this.auto "auto"}}">
    <div local-class="top">
      <button type="button" {{on "click" this.player.stop}}>
        <SvgIcon @name="x" />
      </button>
      <button type="button" {{on "click" this.toggleAuto}}>
        <SvgIcon @name={{if this.auto "minimize-2" "maximize-2"}} />
      </button>
      <img src={{this.player.video.channel.thumbnail}} alt={{this.player.video.channel.title}}>
      <span local-class="title">
        {{this.player.video.channel.title}}
        &mdash;
        {{this.player.video.title}}
      </span>
    </div>
    <EmberYoutube
      @currentTimeChanged={{this.currentTimeChanged}}
      @ended={{this.player.embedEnded}}
      @height={{this.settings.sizeHeight}}
      @playbackRateChanged={{this.playbackRateChanged}}
      @playerVars={{hash autoplay=1 rel=0}}
      @startSeconds={{this.startSeconds}}
      @speed={{this.speed}}
      @width={{this.settings.sizeWidth}}
      @ytid={{this.player.video.apiId}}
    />
  </div>
{{/if}}
