<SectionHeader
  @backIcon="home"
  @backRoute="landing"
  @icon="log-in"
>
  Sign In
</SectionHeader>

<form local-class="signin" {{on "submit" this.signIn}}>
  <div local-class="row">
    <label>
      Email
      <input
        type="text"
        value={{this.email}}
        disable={{not-eq this.state "inFlight"}}
        {{on "input" this.handleEmail}}
      >
    </label>
  </div>

  <div local-class="row">
    <label>
      Password
      <input
        type="password"
        value={{this.password}}
        disable={{not-eq this.state "inFlight"}}
        {{on "input" this.handlePassword}}
      >
    </label>
  </div>

  <div local-class="row">
    {{#if (eq this.state "inFlight")}}
      Signing in...
    {{else if (eq this.state "success")}}
      Signed in!
    {{else if (eq this.state "failure")}}
      Failed! Please try again.
    {{else}}
      <button
        type="submit"
        disabled={{not this.valid}}
      >
        Sign In
      </button>
    {{/if}}
  </div>
</form>
