<div local-class="settings">
  <div local-class="row">
    Theme
    <SelectLight @value={{this.settings.theme}} @onChange={{fn this.handleChange "theme"}}>
      {{#each this.themes as |theme|}}
        <option value={{theme.value}}>{{theme.label}}</option>
      {{/each}}
    </SelectLight>
  </div>

  <SubsectionHeader @icon="bar-chart">
    Sorting
  </SubsectionHeader>

  <div local-class="row">
    Sort videos by
    <SelectLight @value={{this.settings.videoKey}} @onChange={{fn this.handleChange "videoKey"}}>
      {{#each this.videoKeys as |videoKey|}}
        <option value={{videoKey.value}}>{{videoKey.label}}</option>
      {{/each}}
    </SelectLight>
    <SelectLight @value={{this.settings.videoDir}} @onChange={{fn this.handleChange "videoDir"}}>
      {{#each this.dirs as |dir|}}
        <option value={{dir.value}}>{{dir.label}}</option>
      {{/each}}
    </SelectLight>
  </div>

  <div local-class="row">
    <label>
      <Input @type="checkbox" @checked={{this.settings.channelGroup}} />
      Group videos by channel
    </label>
  </div>

  <div local-class="row">
    Sort channels by
    <SelectLight @value={{this.settings.channelKey}} @onChange={{fn this.handleChange "channelKey"}} @disabled={{not this.settings.channelGroup}}>
      {{#each this.channelKeys as |channelKey|}}
        <option value={{channelKey.value}}>{{channelKey.label}}</option>
      {{/each}}
    </SelectLight>
    <SelectLight @value={{this.settings.channelDir}} @onChange={{fn this.handleChange "channelDir"}} @disabled={{not this.settings.channelGroup}}>
      {{#each this.dirs as |dir|}}
        <option value={{dir.value}}>{{dir.label}}</option>
      {{/each}}
    </SelectLight>
  </div>

  <SubsectionHeader @icon="play">
    Playback
  </SubsectionHeader>

  <div local-class="row">
    Resolution
    <SelectLight @value={{this.settings.size}} @onChange={{fn this.handleChange "size"}}>
      {{#each this.sizes as |size|}}
        <option value={{size}}>{{size}}p</option>
      {{/each}}
    </SelectLight>
  </div>

  <div local-class="row">
    Speed
    <SelectLight @value={{this.settings.speed}} @onChange={{fn this.handleChange "speed"}}>
      {{#each this.speeds as |speed|}}
        <option value={{speed}}>{{speed}}x</option>
      {{/each}}
    </SelectLight>
  </div>

  <div local-class="row">
    <label>
      <Input @type="checkbox" @checked={{this.settings.autoplay}} />
      Autoplay next video in group
    </label>
  </div>
</div>
