<div local-class="settings">
  <div local-class="row">
    Theme
    <SelectLight
      @options={{this.themes}}
      @value={{this.settings.theme}}
      @onChange={{fn this.handleChange "theme"}}
    />
  </div>

  <SubsectionHeader @icon="bar-chart">
    Sorting
  </SubsectionHeader>

  <div local-class="row">
    Sort videos by
    <SelectLight
      @options={{this.videoKeys}}
      @value={{this.settings.videoKey}}
      @onChange={{fn this.handleChange "videoKey"}}
    />
    <SelectLight
      @options={{this.dirs}}
      @value={{this.settings.videoDir}}
      @onChange={{fn this.handleChange "videoDir"}}
    />
  </div>

  <div local-class="row">
    <label>
      <Input @type="checkbox" @checked={{this.settings.channelGroup}} />
      Group videos by channel
    </label>
  </div>

  <div local-class="row">
    Sort channels by
    <SelectLight
      @options={{this.channelKeys}}
      @value={{this.settings.channelKey}}
      @onChange={{fn this.handleChange "channelKey"}}
      @disabled={{not this.settings.channelGroup}}
    />
    <SelectLight
      @options={{this.dirs}}
      @value={{this.settings.channelDir}}
      @onChange={{fn this.handleChange "channelDir"}}
      @disabled={{not this.settings.channelGroup}}
    />
  </div>

  <SubsectionHeader @icon="play">
    Playback
  </SubsectionHeader>

  <div local-class="row">
    Resolution
    <SelectLight
      @options={{this.sizes}}
      @value={{this.settings.size}}
      @onChange={{fn this.handleNumberChange "size"}}
    />
  </div>

  <div local-class="row">
    Speed
    <SelectLight
      @options={{this.speeds}}
      @value={{this.settings.speed}}
      @onChange={{fn this.handleNumberChange "speed"}}
    />
  </div>

  <div local-class="row">
    <label>
      <Input @type="checkbox" @checked={{this.settings.autoplay}} />
      Autoplay next video in group
    </label>
  </div>
</div>
