<div local-class="settings">
  <div local-class="row">
    Theme
    <XSelect @value={{this.settings.theme}} @onChange={{fn (mut this.settings.theme)}} as |xs|>
      {{#each this.themes as |theme|}}
        <xs.option @value={{theme.value}}>{{theme.label}}</xs.option>
      {{/each}}
    </XSelect>
  </div>

  <SubsectionHeader @icon="bar-chart">
    Sorting
  </SubsectionHeader>

  <div local-class="row">
    Sort videos by
    <XSelect @value={{this.settings.videoKey}} @onChange={{fn (mut this.settings.videoKey)}} as |xs|>
      {{#each this.videoKeys as |videoKey|}}
        <xs.option @value={{videoKey.value}}>{{videoKey.label}}</xs.option>
      {{/each}}
    </XSelect>
    <XSelect @value={{this.settings.videoDir}} @onChange={{fn (mut this.settings.videoDir)}} as |xs|>
      {{#each this.dirs as |dir|}}
        <xs.option @value={{dir.value}}>{{dir.label}}</xs.option>
      {{/each}}
    </XSelect>
  </div>

  <div local-class="row">
    <label>
      <Input @type="checkbox" @checked={{this.settings.channelGroup}} />
      Group videos by channel
    </label>
  </div>

  <div local-class="row">
    Sort channels by
    <XSelect @value={{this.settings.channelKey}} @onChange={{fn (mut this.settings.channelKey)}} @disabled={{not this.settings.channelGroup}} as |xs|>
      {{#each this.channelKeys as |channelKey|}}
        <xs.option @value={{channelKey.value}}>{{channelKey.label}}</xs.option>
      {{/each}}
    </XSelect>
    <XSelect @value={{this.settings.channelDir}} @onChange={{fn (mut this.settings.channelDir)}} @disabled={{not this.settings.channelGroup}} as |xs|>
      {{#each this.dirs as |dir|}}
        <xs.option @value={{dir.value}}>{{dir.label}}</xs.option>
      {{/each}}
    </XSelect>
  </div>

  <SubsectionHeader @icon="play">
    Playback
  </SubsectionHeader>

  <div local-class="row">
    Resolution
    <XSelect @value={{this.settings.size}} @onChange={{fn (mut this.settings.size)}} as |xs|>
      {{#each this.sizes as |size|}}
        <xs.option @value={{size}}>{{size}}p</xs.option>
      {{/each}}
    </XSelect>
  </div>

  <div local-class="row">
    Speed
    <XSelect @value={{this.settings.speed}} @onChange={{fn (mut this.settings.speed)}} as |xs|>
      {{#each this.speeds as |speed|}}
        <xs.option @value={{speed}}>{{speed}}x</xs.option>
      {{/each}}
    </XSelect>
  </div>

  <div local-class="row">
    <label>
      <Input @type="checkbox" @checked={{this.settings.autoplay}} />
      Autoplay next video in group
    </label>
  </div>
</div>
