{{!-- can't override parent's separator, have to just replace whole title --}}
{{page-title this.titleNotification " NoUTube" replace=true}}

<MenuBar::Extras>
  <MenuBar::Button @onClick={{this.toggleSettings}} @title="Settings" @icon="sliders" />
  <MenuBar::Button @onClick={{this.toggleChannels}} @title="Channels" @icon="list" />
  <MenuBar::Button @onClick={{this.goToAccount}} @title="Account" @icon="user" />
</MenuBar::Extras>

{{#if this.showSettings}}
  <Dialog @title="Settings" @close={{this.toggleSettings}}>
    <Settings />
  </Dialog>
{{/if}}

{{#if this.showChannels}}
  <Dialog @title="Channels" @close={{this.toggleChannels}}>
    <UploadTakeout />
    <ChannelsSummary @channels={{@channels}} />
  </Dialog>
{{/if}}

{{#if this.newChannels}}
  <SectionHeader @icon="gift">New Videos</SectionHeader>
  {{#if this.settings.channelGroup}}
    <Channels @channels={{this.newChannels}} @state="new" />
  {{else}}
    <VideosUngrouped @videos={{this.newVideos}} />
  {{/if}}
{{/if}}

{{#if this.laterChannels}}
  <SectionHeader @icon="bookmark">Watch Later</SectionHeader>
  {{#if this.settings.channelGroup}}
    <Channels @channels={{this.laterChannels}} @state="later" />
  {{else}}
    <VideosUngrouped @videos={{this.laterVideos}} />
  {{/if}}
{{/if}}

{{#unless this.anyVideos}}
  <SectionHeader @icon="slash">No Videos</SectionHeader>
  <div class="message">
    <p>You've watched everything for now, check again later.</p>
  </div>
{{/unless}}
