{{!-- can't override parent's separator, have to just replace whole title --}}
{{page-title this.titleNotification " NoUTube" replace=true}}

<MenuBar::Extras>
  <MenuBar::Button @onClick={{this.toggleAddVideo}} @title="Add Video" @icon="plus" />
  <MenuBar::Button @onClick={{this.goToSubscriptions}} @title="Subscriptions" @icon="bell" />
  <MenuBar::Button @onClick={{this.goToDeleted}} @title="Deleted" @icon="trash" />
  <MenuBar::Button @onClick={{this.toggleSettings}} @title="Settings" @icon="sliders" />
  <MenuBar::Button @onClick={{this.goToAccount}} @title="Account" @icon="user" />
</MenuBar::Extras>

{{#if this.showAddVideo}}
  <Dialog @title="Add Video" @close={{this.toggleAddVideo}}>
    <AddVideo @success={{this.toggleAddVideo}} />
  </Dialog>
{{/if}}

{{#if this.showSettings}}
  <Dialog @title="Settings" @close={{this.toggleSettings}}>
    <Settings />
  </Dialog>
{{/if}}

{{#if this.newChannels}}
  <SectionHeader @icon="gift">New Videos</SectionHeader>
  {{#if this.settings.channelGroup}}
    <div class="message invert">
      <VideosTotals @videos={{this.newVideos}} />
    </div>
    <Channels @channels={{this.newChannels}} @state="new" />
  {{else}}
    <VideosUngrouped @videos={{this.newVideos}} />
  {{/if}}
{{/if}}

{{#if this.laterChannels}}
  <SectionHeader @icon="bookmark">Watch Later</SectionHeader>
  {{#if this.settings.channelGroup}}
    <div class="message invert">
      <VideosTotals @videos={{this.laterVideos}} />
    </div>
    <Channels @channels={{this.laterChannels}} @state="later" />
  {{else}}
    <VideosUngrouped @videos={{this.laterVideos}} />
  {{/if}}
{{/if}}

{{#unless this.anyVideos}}
  <SectionHeader @icon="slash">No Videos</SectionHeader>
  <div class="message">
    <p>You've watched everything for now, check again later.</p>
  </div>
{{/unless}}
