{{!-- can't override parent's separator, have to just replace whole title --}}
{{title this.titleNotification " NoUTube" replace=true}}

<PortalContent @for="menu-bar-extras">
  <button type="button" {{on "click" this.toggleSorting}} title="Sorting settings"><SvgIcon @name="sliders" /></button>
  <button type="button" {{on "click" this.settings.switchSize}} title="Switch player size"><SvgIcon @name="maximize" /></button>
</PortalContent>

{{#if this.showSorting}}
  <Dialog @title="Sorting Settings" @close={{this.toggleSorting}}>
    <SortingSettings />
  </Dialog>
{{/if}}

{{#if this.newSubscriptions}}
  <SectionHeader @icon="gift">New Videos</SectionHeader>
  {{#if this.settings.channelGroup}}
    <Subscriptions @subscriptions={{this.newSubscriptions}} @state="new" />
  {{else}}
    <ItemsUngrouped @items={{this.newItems}} />
  {{/if}}
{{/if}}

{{#if this.laterSubscriptions}}
  <SectionHeader @icon="bookmark">Watch Later</SectionHeader>
  {{#if this.settings.channelGroup}}
    <Subscriptions @subscriptions={{this.laterSubscriptions}} @state="later" />
  {{else}}
    <ItemsUngrouped @items={{this.laterItems}} />
  {{/if}}
{{/if}}

{{#unless this.anyItems}}
  <SectionHeader @icon="slash">No Videos</SectionHeader>
  <div class="message">
    <p>You've watched everything for now, check again later.</p>
  </div>
{{/unless}}
