<Swipeable @swipeLeft={{this.ignoreAll}} @swipeRight={{if this.new this.markAllLater this.ignoreAll}} @iconLeft="trash" @iconRight={{if this.new "bookmark" "trash"}}>
  <div class="subscription-detail">
    <img src={{this.subscription.channel.thumbnail}} alt={{this.subscription.channel.title}}>
    <div>
      <p class="title"><a rel="external noopener" target="_blank" href="https://www.youtube.com/channel/{{this.subscription.channel.apiId}}">{{this.subscription.channel.title}}</a></p>
      <p>{{pluralize this.items.length "video"}}, <span title={{this.totalDuration}}>{{moment-duration this.totalDuration "seconds"}}</span></p>
      {{#if (eq this.state "new")}}
        <p><a role="button" {{on "click" this.markAllLater}}>Watch All Later</a> &middot; <a role="button" {{on "click" this.ignoreAll}}>Ignore All</a></p>
      {{else}}
        <p><a role="button" {{on "click" this.ignoreAll}}>Watched All</a></p>
      {{/if}}
    </div>
  </div>
  {{#each this.items as |item|}}
    <DisplayItem @item={{item}} />
  {{/each}}
</Swipeable>
