<Swipeable @swipeLeft={{this.ignoreAll}} @swipeRight={{if this.new this.markAllLater this.ignoreAll}} @iconLeft="trash" @iconRight={{if this.new "bookmark" "trash"}}>
  <div class="subscription-detail">
    <img src={{this.subscription.channel.thumbnail}} alt={{this.subscription.channel.title}}>
    <div>
      <p class="title"><a rel="external noopener noreferrer" target="_blank" href="https://www.youtube.com/channel/{{this.subscription.channel.apiId}}">{{this.subscription.channel.title}}</a></p>
      <ItemsTotals @items={{this.items}} />
      {{#if (eq this.state "new")}}
        <p><button type="button" {{on "click" this.markAllLater}}>Watch All Later</button> &middot; <button type="button" {{on "click" this.ignoreAll}}>Ignore All</button></p>
      {{else}}
        <p><button type="button" {{on "click" this.ignoreAll}}>Watched All</button></p>
      {{/if}}
    </div>
  </div>
  <DisplayItems @items={{this.items}} />
</Swipeable>
