<div local-class="menu-bar">
  <PortalFor @name="menu-bar-extras" @class={{local-class "extras-outer"}} @portal-class={{local-class "extras-inner"}} />
  {{#if this.session.me}}
    {{#unless this.isOnFeed}}
      <LinkTo @route="feed" title="Go to feed"><SvgIcon @name="inbox" /></LinkTo>
    {{/unless}}
    <button type="button" {{on "click" this.session.signOut}} title="Sign out {{this.session.me.email}}"><SvgIcon @name="log-out" /></button>
  {{else}}
    <button type="button" {{on "click" this.session.signIn}} title="Sign in"><SvgIcon @name="log-in" /></button>
  {{/if}}
</div>
