<SectionHeader
  @backIcon="home"
  @backRoute="landing"
  @icon="user-plus"
>
  Register
</SectionHeader>

<form local-class="register" {{on "submit" this.register}}>
  <div local-class="row">
    <label>
      Email
      <input
        type="text"
        value={{this.email}}
        disable={{not-eq this.state "inFlight"}}
        {{on "input" this.handleEmail}}
      >
    </label>
  </div>

  <div local-class="row">
    <label>
      Password
      <input
        type="password"
        value={{this.password}}
        disable={{not-eq this.state "inFlight"}}
        {{on "input" this.handlePassword}}
      >
    </label>
  </div>

  <div local-class="row">
    {{#if (eq this.state "inFlight")}}
      Registering...
    {{else if (eq this.state "success")}}
      Registered!
    {{else if (eq this.state "failure")}}
      Failed! Please try again.
    {{else}}
      <button
        type="submit"
        disabled={{not this.valid}}
      >
        Register
      </button>
    {{/if}}
  </div>
</form>
