<div local-class="video">
  <Swipeable @swipeLeft={{this.markDeleted}} @swipeRight={{if @video.new this.markLater this.markDeleted}} @iconLeft="trash" @iconRight={{if @video.new "bookmark" "trash"}}>
    <div local-class="bar">
      <button local-class="play-button" type="button" {{on "click" (if this.playing this.player.stop @play)}}>
        <img src={{@video.thumbnail}} alt={{@video.title}}>
        {{#if this.playing}}
          <div local-class="play-icon">
            <SvgIcon @name="play" @size={{48}} />
          </div>
        {{/if}}
      </button>
      <div local-class="detail">
        <p class="title"><a rel="external noopener noreferrer" target="_blank" href="https://www.youtube.com/watch?v={{@video.apiId}}">{{@video.title}}</a></p>
        <p>
          {{#if @video.duration}}
            <span title={{@video.duration}}>{{this.formattedDuration}}</span>,
          {{/if}}
          {{#if @video.isLiveContent}}
            live
          {{else if @video.isUpcoming}}
            premieres
          {{else if @video.scheduledAt}}
            premiered
          {{else}}
            published
          {{/if}}
          {{#if @video.isLive}}
            now
          {{else}}
            <span title={{moment @video.showAt}}>{{moment-from-now @video.showAt interval=60000}}</span>
          {{/if}}
          {{#unless this.settings.channelGroup}}
            by <a rel="external noopener noreferrer" target="_blank" href="https://www.youtube.com/channel/{{@video.channel.apiId}}">{{@video.channel.title}}</a>
          {{/unless}}
        </p>
        <p>
          {{#if @video.new}}
            <button type="button" {{on "click" this.markLater}}>
              <SvgIcon @name="bookmark" @size={{16}} />
              Watch Later
            </button>
            &middot;
            <button type="button" {{on "click" this.markDeleted}}>
              <SvgIcon @name="trash" @size={{16}} />
              Ignore
            </button>
          {{else}}
            <button type="button" {{on "click" this.markDeleted}}>
              <SvgIcon @name="trash" @size={{16}} />
              Watched
            </button>
          {{/if}}
          &middot;
          <button type="button" {{on "click" (if this.playing this.player.stop @play)}}>
            {{#if this.playing}}
              <SvgIcon @name="square" @size={{16}} />
              Stop
            {{else}}
              <SvgIcon @name="play" @size={{16}} />
              Play
            {{/if}}
          </button>
        </p>
      </div>
    </div>
  </Swipeable>
</div>
