{{#if this.showSetProgress}}
  <Dialog @title="Set Progress" @close={{this.toggleSetProgress}}>
    <SetProgress @video={{@video}} />
  </Dialog>
{{/if}}

<div local-class="video">
  <Swipeable
    @swipeLeft={{if @video.deleted this.markLater this.markDeleted}}
    @swipeRight={{if @video.later this.markDeleted this.markLater}}
    @iconLeft={{if @video.deleted "bookmark" "trash"}}
    @iconRight={{if @video.later "trash" "bookmark"}}
  >
    <div local-class="bar">
      <button local-class="play-button" type="button" {{on "click" (if this.playing this.player.stop @play)}}>
        <img src={{@video.thumbnail}} alt={{@video.title}}>
        {{#if this.playing}}
          <div local-class="play-icon">
            <SvgIcon @name="play" @size={{48}} />
          </div>
        {{/if}}
        {{#if @video.progress}}
          <div local-class="play-progress" style={{this.progressStyle}}>
            &nbsp;
          </div>
        {{/if}}
      </button>
      <div local-class="detail">
        <p class="title"><a rel="external noopener noreferrer" target="_blank" href={{@video.url}}>{{@video.title}}</a></p>
        <p>
          {{#if @video.duration}}
            {{#if @video.progress}}
              <span title={{@video.progress}}>{{this.formattedProgress}}</span> /
            {{/if}}
            <span title={{@video.duration}}>{{this.formattedDuration}}</span>
            <button type="button" {{on "click" this.toggleSetProgress}}>
              <SvgIcon @name="edit" @size={{16}} />
            </button>
            &middot;
          {{/if}}
          {{#if @video.isLiveContent}}
            live
          {{else if @video.isUpcoming}}
            premieres
          {{else if @video.scheduledAt}}
            premiered
          {{else}}
            published
          {{/if}}
          {{#if @video.isLive}}
            now
          {{else}}
            <span title={{moment @video.showAt}}>{{moment-from-now @video.showAt interval=60000}}</span>
          {{/if}}
          {{#unless this.settings.channelGroup}}
            by <a rel="external noopener noreferrer" target="_blank" href={{@video.channel.url}}>{{@video.channel.title}}</a>
          {{/unless}}
        </p>
        <p>
          {{#if @video.new}}
            <button type="button" {{on "click" this.markLater}}>
              <SvgIcon @name="bookmark" @size={{16}} />
              Watch Later
            </button>
            &middot;
            <button type="button" {{on "click" this.markDeleted}}>
              <SvgIcon @name="trash" @size={{16}} />
              Ignore
            </button>
          {{else if @video.later}}
            <button type="button" {{on "click" this.markDeleted}}>
              <SvgIcon @name="trash" @size={{16}} />
              Watched
            </button>
          {{else}}
            <button type="button" {{on "click" this.markLater}}>
              <SvgIcon @name="bookmark" @size={{16}} />
              Restore
            </button>
          {{/if}}
          &middot;
          <button type="button" {{on "click" (if this.playing this.player.stop @play)}}>
            {{#if this.playing}}
              <SvgIcon @name="square" @size={{16}} />
              Stop
            {{else}}
              <SvgIcon @name="play" @size={{16}} />
              Play
            {{/if}}
          </button>
        </p>
      </div>
    </div>
  </Swipeable>
</div>
