<PortalFor @name="menu-bar-extras" />
<button type="button" {{on "click" this.theme.switchTheme}} title="Switch theme"><SvgIcon @name="droplet" /></button>
{{#if this.session.me}}
  <LinkTo @route="feed" title="Go to feed"><SvgIcon @name="inbox" /></LinkTo>
  <button type="button" {{on "click" this.session.signOut}} title="Sign out {{this.session.me.email}}"><SvgIcon @name="log-out" /></button>
{{else}}
  <button type="button" {{on "click" this.session.signIn}} title="Sign in"><SvgIcon @name="log-in" /></button>
{{/if}}
