<div {{recognize-gesture "pan"}} local-class="swipeable {{if this.isSwiping "swiping"}}" {{on "panstart" this.panStart}} {{on "panmove" this.panMove}} {{on "panend" this.panEnd}} {{on "pancancel" this.panCancel}}>
  <div local-class="swipeable-child" style={{this.style}}>
    <div local-class="swipeable-right">
      <SvgIcon @name={{@iconRight}} />
    </div>
    <div local-class="swipeable-left">
      <SvgIcon @name={{@iconLeft}} />
    </div>
    {{yield}}
  </div>
</div>
