<div
  class="swipeable"
  local-class="swipeable {{if this.isSwiping "swiping"}}"
  {{did-insert this.didInsert}}
  {{did-pan
    onPanStart=this.panStart
    onPan=this.panMove
    onPanEnd=this.panEnd
    pointerTypes=(array 'touch' 'mouse')
  }}
>
  <div local-class="swipeable-child" style={{this.style}}>
    <div local-class="swipeable-right">
      <SvgIcon @name={{@iconRight}} />
    </div>
    <div local-class="swipeable-left">
      <SvgIcon @name={{@iconLeft}} />
    </div>
    {{yield}}
  </div>
</div>
