<div local-class="item">
  <Swipeable @swipeLeft={{@item.markDeleted}} @swipeRight={{if @item.new @item.markLater @item.markDeleted}} @iconLeft="trash" @iconRight={{if @item.new "bookmark" "trash"}}>
    <div local-class="bar">
      <button local-class="embed-button" type="button" {{on "click" this.toggleEmbed}}><img src={{@item.video.thumbnail}} alt={{@item.video.title}}></button>
      <div local-class="detail">
        <p class="title"><a rel="external noopener noreferrer" target="_blank" href="https://www.youtube.com/watch?v={{@item.video.apiId}}">{{@item.video.title}}</a></p>
        <p>
          <span title={{@item.video.duration}}>{{this.formattedDuration}}</span>,
          published <span title={{moment @item.video.publishedAt}}>{{moment-from-now @item.video.publishedAt interval=60000}}</span>
          {{#unless this.settings.channelGroup}}
            by <a rel="external noopener noreferrer" target="_blank" href="https://www.youtube.com/channel/{{@item.subscription.channel.apiId}}">{{@item.subscription.channel.title}}</a>
          {{/unless}}
        </p>
        {{#if @item.new}}
          <p><button type="button" {{on "click" @item.markLater}}>Watch Later</button> &middot; <button type="button" {{on "click" @item.markDeleted}}>Ignore</button></p>
        {{else}}
          <p><button type="button" {{on "click" @item.markDeleted}}>Watched</button></p>
        {{/if}}
      </div>
    </div>
    {{#if this.embed}}
      <div local-class="embed-frame">
        <iframe title="{{@item.video.title}} - YouTube" width={{this.settings.sizeWidth}} height={{this.settings.sizeHeight}} src="https://www.youtube.com/embed/{{@item.video.apiId}}?version=3&amp;rel=0&amp;autoplay=1" frameborder="0" allowfullscreen></iframe>
      </div>
    {{/if}}
  </Swipeable>
</div>
