<div local-class="item">
  <Swipeable @swipeLeft={{this.markDeleted}} @swipeRight={{if @item.new this.markLater this.markDeleted}} @iconLeft="trash" @iconRight={{if @item.new "bookmark" "trash"}}>
    <div local-class="bar">
      <button local-class="play-button" type="button" {{on "click" (if this.playing this.player.stop @play)}}>
        <img src={{@item.video.thumbnail}} alt={{@item.video.title}}>
        {{#if this.playing}}
          <div local-class="play-icon">
            <SvgIcon @name="play" @size={{48}} />
          </div>
        {{/if}}
      </button>
      <div local-class="detail">
        <p class="title"><a rel="external noopener noreferrer" target="_blank" href="https://www.youtube.com/watch?v={{@item.video.apiId}}">{{@item.video.title}}</a></p>
        <p>
          {{#if @item.video.duration}}
            <span title={{@item.video.duration}}>{{this.formattedDuration}}</span>,
          {{/if}}
          {{#if @item.video.isLiveContent}}
            live
          {{else if @item.video.isUpcoming}}
            premieres
          {{else if @item.video.scheduledAt}}
            premiered
          {{else}}
            published
          {{/if}}
          {{#if @item.video.isLive}}
            now
          {{else}}
            <span title={{moment @item.video.showAt}}>{{moment-from-now @item.video.showAt interval=60000}}</span>
          {{/if}}
          {{#unless this.settings.channelGroup}}
            by <a rel="external noopener noreferrer" target="_blank" href="https://www.youtube.com/channel/{{@item.subscription.channel.apiId}}">{{@item.subscription.channel.title}}</a>
          {{/unless}}
        </p>
        <p>
          {{#if @item.new}}
            <button type="button" {{on "click" this.markLater}}>Watch Later</button>
            &middot;
            <button type="button" {{on "click" this.markDeleted}}>Ignore</button>
          {{else}}
            <button type="button" {{on "click" this.markDeleted}}>Watched</button>
          {{/if}}
          &middot;
          <button type="button" {{on "click" (if this.playing this.player.stop @play)}}>{{if this.playing "Stop" "Play"}}</button>
        </p>
      </div>
    </div>
  </Swipeable>
</div>
